---
---

<div>
  <p>
    If you have some time, you can:
  </p>
  <ul class="mt-5">
    <li>
      <strong>Check out the <a href="/blog" target="_blank">Blog</a> section.</strong>
      But nothing's in there.
    </li>
    <li>
      <strong>Check out the <a href="/projects" target="_blank">Project</a> section.</strong>
      Same, nothing's in there.
    </li>
    <li>
      <strong>Check out my social media.</strong>
      Click on one of the social media above. 
    </li>
  </ul>
</div>
